.table-view .column-header-background .label{
    -fx-background-color: #2D3447;
	-fx-border-width: 0;
	-fx-border-color: #2D3447;
    -fx-text-fill: #b9b9b9;
	-fx-alignment: center-left;
}

.table-row-cell:selected .text{
    -fx-fill: steelblue;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
